:root {
  --main-color: #f5faff;
  --background-color: #081b33;
  --prime-color: #228be6;
  --secondary-color: #88cbfd;
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--background-color);
  position: relative;
}

.darkblue {
  color: var(--prime-color);
}
.lightblue {
  color: var(--secondary-color);
}

.background-blue {
  color: var(--background-color);
}

section {
  display: flex;
  height: 100vh;
}

.text-wrapper {
  margin: auto;
  position: relative;
}

p {
  text-transform: uppercase;
  line-height: 0.75;
  margin: auto;
}

.first-textfield {
  width: 350px;
}

.fontsize-row-one {
  font-size: 82px;
}
.fontsize-row-two {
  font-size: 114px;
}

.second-textfield {
  width: 350px;
}

.fontsize-row-three {
  font-size: 280px;
}

.third-textfield {
  width: 350px;
}
.fontsize-row-four {
  font-size: 114px;
}

.fontsize-row-five {
  font-size: 62px;
}

.fourth-textfield {
  width: 150px;
  margin: 0;
  position: relative;
  left: 150px;
}

.fontsize-row-six {
  font-size: 42px;
}
.fontsize-row-seven {
  font-size: 100px;
}

.fontsize-row-eight {
  font-size: 60px;
}
.fontsize-row-nine {
  font-size: 92px;
}

.align-column {
  width: 450px;
  display: flex;
  flex-direction: row;

  position: relative;
  overflow: hidden;
}
.fourth-textfield:nth-child(2) {
  left: 300px;
}

.fourth-textfield:hover {
  animation: textmove 4s linear infinite;
}

@keyframes textmove {
  from {
    left: 150px;
  }
  to {
    left: -300px;
  }
}
.first-textfield-shadowlayer {
  width: 350px;
  font-size: 148px;
}

.second-textfield-shadowlayer {
  width: 350px;
  margin: 0;
}

.shadowlayer-fontsize-row-two {
  font-size: 120px;
  letter-spacing: 10px;
}

.shadowlayer-fontsize-row-three {
  font-size: 98px;
  letter-spacing: 8px;
}

.shadowlayer-wrapper {
  position: absolute;
  top: 0;
}
.icon-wrapper {
  display: flex;
  justify-content: space-between;
}

img {
  width: 50px;
}

.third-textfield-shadowlayer {
  width: 350px;
}

.shadowlayer-fontsize-row-four {
  font-size: 23px;
}

.shadowlayer-fontsize-row-five {
  font-size: 56px;
  letter-spacing: 10px;
}

.shadowlayer-fontsize-row-six {
  font-size: 47px;
  letter-spacing: 14px;
}

.shadowlayer-fontsize-row-seven {
  font-size: 76px;
  letter-spacing: 10px;
}
